.active-item {
    color: var(--ion-color-primary);
    font-weight: 500;
    ion-icon {
        color: var(--ion-color-primary);
    }
}

// ion-item, ion-title {
//     font-family: var($mainFont);
// }

// :host ::ng-deep {
//     div.menu-inner {
//         border-top-left-radius: 16px !important;
//     }
// }