<!-- <div class="languageRectangle" *ngFor="let lng of languages" (click)="changeLanguage(lng)" [ngClass]="{'activeLanguage': lng.checked}">
    <span style="margin: 24px; font-size: 24px;">{{lng.text}}</span> -->
    <!-- <ion-grid>
        <ion-row>
            <ion-col size="2">
                <div class="languageImg" [style.background-image]="lng.imgUrl">
                </div>
            </ion-col>
            <ion-col size="8" class="colText">
                <span class="languageText" [ngClass]="{'activeLanguage': lng.checked}">{{lng.text}}</span>
            </ion-col>
            <ion-col size="2">
                <img *ngIf="!lng.checked" src="../../../assets/icon/check/icon-select-checked.svg">
                <img *ngIf="lng.checked" src="../../../assets/icon/check/icon-checkmark.svg">
            </ion-col>
        </ion-row>
    </ion-grid> -->
<!-- </div> -->